* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

:root {
 



    /* Font Families */
    --dodis-ff: "Dosis", sans-serif;
    --playfair-ff: "Playfair Display", serif;
    --Roboto-mono-ff: "Roboto Mono", monospace;


    /* Border Radius */
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-24: 24px;
    --radius-36: 36px;

    /* Shadows */
    --shadow-1: 0 1px 4px hsla(0, 0%, 0%, 0.75);
    --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

    /* Transitions */
    --transition-2s: all 0.2 ease;
    --transition-5s: all 0.5s ease;
    --transition-1s: all 0.1s ease-in-out;
    --transition-8s: all 0.8s ease-in-out;
}
html {
       /* font-family: var(--ff-dm-sans);
      font-size: 10px; */
    scroll-behavior: smooth;

    :focus-visible {
        outline-color: var(--off-white-variant-2);
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }

    ::-webkit-scrollbar-thumb {
        background-color: var(--color-1);
        border-radius: var(--radius-8);
    }
    a {
        text-decoration: none;
        color: var(--color-1);
    }
}