* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    outline: none;
}

:root {
    //Colors
    --color-1: rgba(138, 132, 132, 0);
    --color-2: hsla(44, 100%, 49%, 1);
    --color-3: rgb(255, 0, 0);
    --color-red: rgb(123, 4, 4);
    --color-3-lighter: rgb(217, 88, 88);
    --color-4: rgb(178, 164, 108);
    --color-5: rgb(79, 64, 24);
    --off-white: hsla(0, 5%, 84%, 0.922);
    --green: rgb(18, 62, 5);
    --lighter-green: rgb(34, 88, 42);
    --off-white-variant: hsla(250, 100%, 95%, 1);
    --off-white-variant-2: rgb(113, 107, 137);
    --white: rgb(255, 255, 255);
    --black-color: black;

    //Font Families
    --dodis-ff: "Dosis", sans-serif;
    --playfair-ff: "Playfair Display", serif;
    --Roboto-mono-ff: "Roboto Mono", monospace;

    //Gradients
    --banner: 90deg, hsl(0, 13%, 20%) 0%, hsla(0, 76%, 82%, 0.423) 100%;

    // Border Radius
    --radius-4: 4px;
    --radius-8: 8px;
    --radius-16: 16px;
    --radius-24: 24px;
    --radius-36: 36px;

    //Shadows
    --shadow-1: 0 1px 10px hsla(0, 0%, 0%, 0.973);
    // --shadow-2: 0 2px 4px hsla(350, 100%, 43%, 0.3);

    //Transitions
    --transition-2s: all 0.2 ease-in-out;
    --transition-5s: all 0.5s ease-in-out;
    --transition-4s: all 0.4s ease-in-out;
    --transition-8s: all 0.8s ease-in-out;
}
html {
    //   font-family: var(--ff-dm-sans);
    //   font-size: 10px;
    scroll-behavior: smooth;

    :focus-visible {
        outline-color: var(--off-white-variant-2);
    }

    ::-webkit-scrollbar {
        width: 8px;
        height: 8px;
    }
    ::-webkit-scrollbar-thumb {
        background-color: var(--color-1);
        border-radius: var(--radius-8);
    }
    a {
        text-decoration: none;
        color: var(--color-1);
    }
}

body {
    font-family: var();
    transition: var(--transition-5s);
    height: 100vh;
    margin: 0;
    padding: 0;
    .section-one {
        background-color: var(--color-1);
        height: 100vh;
        position: relative;
        background-image: linear-gradient(var(--banner)), url("/SRC/Frontend/Images/Food-Images/spicyfullchicken.jpg");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        .header-container {
            // position: absolute;
            display: flex;
            width: 100%;
            align-items: center;
            padding-inline: 1em;
            padding-block: 2.5em;

            .header-navigation {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                gap: 2em;
                width: 100%;

                .navigation-content {
                    display: flex;
                    //justify-content:center ;
                    padding-block-start: 1em;
                    align-items: center;
                    gap: 1em;
                    width: 100%;
                    .nav-display-button {
                        display: none;
                    }
                }
            }
        }

        .home-text-container {
            width: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            padding-inline-start: 3em;
            .home-text {
                color: var(--white);
                display: flex;
                justify-content: center;
                align-items: center;
                padding-block-start: 1.7em;
                padding-block-end: 1em;
                width: min(70%, 15em);
                font-family: var(--Roboto-mono-ff);
                font-size: 2.5em;
                font-weight: 800;
                text-align: center;
                text-shadow: var(--shadow-1);
            }
        }
    }
}

// Reusable Components
.navigation-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    .pork {
        font-family: var(--playfair-ff);
        font-size: 2.7em;
        font-weight: 500;
        color: var(--color-3);
        text-shadow: var(--shadow-1);
        @media screen and (min-width: 180px) and (max-width: 380px) {
            font-size: 1.4em;
        }
        @media screen and (min-width: 600px) and (max-width: 900px) {
            font-size: 2.3em;
        }
    }
    .station {
        font-family: var(--dodis-ff);
        font-weight: 900;
    }
}

.navigation-content {
    .item {
        height: 2.7em;
        width: 5em;
        a {
            display: flex;
            justify-content: center;
            align-items: center;
            color: var(--white);
            font-weight: 800;
            font-size: 1em;
            width: 100%;
            height: 100%;
            transition: var(--transition-8s);
            opacity: 1;
        }
        &:hover {
            background-color: var(--color-red);
            border-radius: var(--radius-8);
            transition: var(--transition-4s);
            opacity: 2;
        }

        &.active a {
            background-color: var(--color-3);
            border-radius: var(--radius-8);
            transition: var(--transition-4s);
            opacity: 1;
        }
    }
}

.button-container {
    display: flex;
    margin-block-start: 4em;
    justify-content: center;
    align-items: center;
    transform: var(--transition-8s);
    &:hover {
        transform: translateY(8px);
        transition: var(--transition-8s);
    }

    .button {
        border: 2px solid var(--color-red);
        color: var(--white);
        height: 3em;
        width: 15em;
        border-radius: var(--radius-24);
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.5em;
        font-weight: 700;
        transition: var(--transition-5s);
        box-shadow: var(--shadow-1);
        position: relative;

        &:hover {
            background-color: var(--color-red);
            transform: translateX(0);
            transition: var(--transition-8s);
            color: var(--white);
        }
    }
}

.enquiry-container {
    margin-block-start: 2em;
    //padding-block-start: 2em;
    position: fixed;
    right: 5%;
    bottom: 5%;
    height: 4em;
    width: 4em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--color-3);
    border-radius: var(--radius-16);
    transition: var(--transition-8s);
    &:hover {
        transform: translateY(5px);
    }

    .enquiry-icon {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 10px;
        i {
            font-size: 2em;
            color: var(--white);
            transition: var(--transition-5s);

            &:hover {
                transform: scale(1.1);
            }
        }
    }
}

.message-container {
    position: absolute;
    top: 3%;
    right: 2%;
    z-index: 3;
    width: 30%;
    height: 92vh;
    border: 2px solid var(--color-red);
    border-radius: var(--radius-16);
    padding-block-start: 1em;
    justify-content: center;
    display: none;
    box-shadow: var(--shadow-1);
    background-color: var(--off-white-variant-2);
    transition: var(--transition-5s);

    &.active {
        display: flex;
        transition: var(--transition-5s);
        animation: smooth 0.5s ease-in;

        @keyframes smooth {
            0%{
                transform: translateX(100%);
            }

            100%{
                transform: translateX(0%);
            }
        }
    }

    .close-icon {
        position: absolute;
        right: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: var(--transition-4s);
        border-radius: 50%;
        background-color: var(--off-white-variant);
        width: 2em;
        height: 2em;
        border-radius: 50%;

        i {
            font-size: 1.5em;
        }

        &:hover {
            transform: scale(1.15);
        }
    }

    .main-enquiry {
        //position: relative;
        width: 100%;

        .enquiry-section-1 {
            height: 30%;
            background-color: linear-gradient(var(--color-red));
            width: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            p {
                //padding-inline: 2em;
                line-height: 3em;
                text-align: center;
                color: var(--white);
                font-weight: 600;
            }

            .error-message {
                display: none;
                justify-content: center;
                align-items: center;
                text-align: center;
                text-transform: uppercase;
                font-family: var(--playfair-ff);
                font-weight: 600;
                color: var(--color-3);
                background-color: var(--white);
                width: 70%;
                height: 1.5em;
                box-shadow: var(--shadow-1);
                border-radius: var(--radius-8);
                transition: var(--transition-8s);
                opacity: 0;
                padding: 12px;
                font-size: 1em;

                &.active {
                    display: flex;
                    transform: translateY(20%);
                    opacity: 1;
                    transition: var(--transition-8s);
                }
            }
        }

        .entry-section-2 {
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 100%;
            background-color: var(--white);
            height: 65%;

            .message-entry {
                position: absolute;
                width: 100%;
                display: flex;
                align-items: center;
                justify-content: center;
                //align-self: center;
                bottom: 0;
                input {
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    width: 100%;
                    height: 3em;
                    padding-inline: 1em;
                    border: none;
                    border-top: 1px solid var(--color-red);
                    transition: var(--transition-8s);
                    font-family: var(--playfair-ff);

                    &:focus {
                        border-top: 1.5px solid var(--color-red);
                        transition: var(--transition-5s);
                    }
                }
                .send-icon{
                    position: absolute;
                    right: 3%;
                    height: 2.0em;
                    width: 2.0em;
                    border-radius: 50%;
                    background-color: var(--white);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    transition: var(--transition-5s);

                    &:hover{
                        background-color: var(--off-white-variant-2);
                        color: var(--white);
                    }

                    i{
                        font-size: 1.3em;
                    }
                }
            }
        }
    }
}
