* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  outline: none;
}

:root {
  --color-1: rgba(138, 132, 132, 0);
  --color-2: rgb(255, 201, 5);
  --color-3: rgb(205, 12, 12);
  --color-red: rgb(123, 4, 4);
  --color-3-lighter: rgb(217, 88, 88);
  --color-4: rgb(200, 189, 146);
  --color-5: rgb(79, 64, 24);
  --off-white: hsla(0, 5%, 84%, 0.922);
  --green: rgb(18, 62, 5);
  --lighter-green: rgb(34, 88, 42);
  --off-white-variant: hsla(250, 100%, 95%, 1);
  --off-white-variant-2: rgb(113, 107, 137);
  --white: rgb(255, 255, 255);
  --black-color: black;
  --dodis-ff: "Dosis", sans-serif;
  --playfair-ff: "Playfair Display", serif;
  --Roboto-mono-ff: "Roboto Mono", monospace;
  --banner: 60deg, hsl(0, 0%, 0%) 0%, hsla(0, 48%, 84%, 0.423) 40%;
  --banner2: var(--color-1) 10%;
  --radius-4: 4px;
  --radius-8: 8px;
  --radius-16: 16px;
  --radius-24: 24px;
  --radius-36: 36px;
  --shadow-1: 0 1px 18px hsla(0, 0%, 0%, 0.973);
  --transition-2s: all 0.2 ease-in-out;
  --transition-5s: all 0.5s ease-in-out;
  --transition-4s: all 0.4s ease-in-out;
  --transition-8s: all 0.8s ease-in-out;
}

html {
  scroll-behavior: smooth;
}
html :focus-visible {
  outline-color: var(--off-white-variant-2);
}
html ::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
html ::-webkit-scrollbar-thumb {
  background-color: var(--color-1);
  border-radius: var(--radius-8);
}
html a {
  text-decoration: none;
  color: var(--color-1);
}

body {
  font-family: var();
  transition: var(--transition-5s);
  height: 100vh;
  margin: 0;
  padding: 0;
}
body .section-one {
  background-color: var(--color-1);
  height: 100vh;
  position: relative;
  background-image: url("/SRC/Frontend/Images/Food-Images/porkbanner1.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  width: 100vw;
}
body .section-one .header-container {
  display: flex;
  width: 100%;
  align-items: center;
  padding-block: 2.5em;
}
body .section-one .header-container .header-navigation {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2em;
  width: 100%;
  position: absolute;
}
body .section-one .header-container .header-navigation .navigation-content {
  display: flex;
  padding-block-start: 1em;
  align-items: center;
  gap: 1em;
  width: 100%;
}
body .section-one .header-container .header-navigation .navigation-content .nav-display-button {
  display: none;
}
body .section-one .home-text-container {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-inline-start: 3em;
  position: absolute;
  top: 25%;
}
body .section-one .home-text-container .home-text {
  color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block-start: 1.7em;
  padding-block-end: 1em;
  width: min(60%, 10em);
  font-family: var(--Roboto-mono-ff);
  font-size: 2.8em;
  font-weight: 800;
  text-align: center;
  text-shadow: var(--shadow-1);
}
body .signup-section {
  background-image: linear-gradient(var(--banner)), url("/SRC/Frontend/Images/Food-Images/porkbanner1.jpg");
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  justify-content: center;
  position: absolute;
  display: none;
  top: 0;
  width: 100vw;
  transition: var(--transition-8s);
  opacity: 0;
}
body .signup-section.active {
  display: flex;
  opacity: 1;
  transition: var(--transition-8s);
}
body .signup-section .signup-main {
  width: max(48%, 28em);
  background-color: var(--white);
  border-radius: var(--radius-16);
  height: 100%;
  padding-block-start: 1.5em;
  z-index: 2;
  position: relative;
}
body .signup-section .signup-main .signup-content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  height: 100%;
}
body .signup-section .signup-main .signup-content .signup-header-text {
  color: var(--black-color);
  text-align: center;
  font-size: 2em;
  font-weight: 800;
}
body .signup-section .signup-main .signup-content .login-text-container {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  gap: 0.1em;
  padding-block: 0.3em 1em;
}
body .signup-section .signup-main .signup-content .login-text-container .login-text {
  font-weight: 400;
  font-size: 1em;
  display: flex;
}
body .signup-section .signup-main .signup-content .login-text-container .login-main {
  font-weight: 600;
  font-size: 1em;
}
body .signup-section .signup-main .signup-content .login-text-container .login-main a {
  color: var(--color-3) !important;
  font-weight: 800;
  text-transform: uppercase;
}
body .signup-section .signup-main .signup-content .input-background {
  background-color: var(--white);
  width: min(85%, 32em);
  height: 80%;
  border-radius: var(--radius-4);
  padding-block: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
body .signup-section .signup-main .signup-content .input-background .user-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.3em;
  background-color: var(--white);
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 80%;
  position: relative;
  transition: var(--transition-8s);
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container:focus-within {
  transition: var(--transition-8s);
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container:focus-within .input-icon {
  display: none;
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container p {
  font-size: 0.7em;
  display: none;
  align-self: self-start;
  width: 100%;
  color: var(--color-3);
  font-weight: 600;
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container.password-container .input-icon {
  width: 100%;
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container.password-container .input-icon .fa-eye {
  position: absolute;
  right: 2%;
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container input {
  width: 100%;
  height: 2.8em;
  border: none;
  border-bottom: 2px solid var(--off-white-variant);
  padding: 1.5em 1.5em 1.5em 3.1em;
  font-size: 0.9em;
  display: flex;
  align-self: flex-end;
  justify-content: center;
  position: relative;
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container input::-moz-placeholder {
  color: var(--off-white-variant-2);
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container input::placeholder {
  color: var(--off-white-variant-2);
}
body .signup-section .signup-main .signup-content .input-background .user-input .input-container .input-icon {
  position: absolute;
  left: 1%;
  bottom: 28%;
  color: var(--off-white-variant-2);
  font-size: 1.2em;
  font-weight: 200;
  padding-inline-start: 0.1em;
}
body .signup-section .signup-main .signup-content .input-background .signup-btn {
  background-color: var(--color-3);
  width: max(50%, 10em);
  display: flex;
  align-items: center;
  justify-content: center;
  align-self: center;
  height: min(1.8em, 28px);
  padding: 2em;
  margin-block: 2em;
  border-radius: var(--radius-24);
}
body .signup-section .signup-main .signup-content .input-background .signup-btn .btn-main a {
  color: var(--white) !important;
  font-weight: 600;
}

.navigation-logo {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navigation-logo .pork {
  font-family: var(--playfair-ff);
  font-size: 2.7em;
  font-weight: 500;
  color: var(--color-3);
  text-shadow: var(--shadow-1);
}
@media screen and (min-width: 180px) and (max-width: 380px) {
  .navigation-logo .pork {
    font-size: 1.4em;
  }
}
@media screen and (min-width: 600px) and (max-width: 900px) {
  .navigation-logo .pork {
    font-size: 2.3em;
  }
}
.navigation-logo .station {
  font-family: var(--dodis-ff);
  font-weight: 900;
}

.navigation-content .item {
  height: 2.7em;
  width: 6em;
}
.navigation-content .item a {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-3);
  font-weight: 800;
  font-size: 1em;
  width: 100%;
  height: 100%;
  transition: var(--transition-8s);
  opacity: 1;
  border-radius: var(--radius-8);
  background-color: transparent;
  color: var(--white);
  padding: 0.2em;
}
.navigation-content .item:hover {
  background-color: var(--color-red);
  border-radius: var(--radius-4);
  transition: var(--transition-4s);
  opacity: 2;
}
.navigation-content .item.activeItem {
  background-color: var(--color-red);
  color: var(--white) !important;
  border-radius: var(--radius-8);
  opacity: 1;
}

.button-container {
  display: flex;
  margin-block-start: 4em;
  justify-content: center;
  align-items: center;
  transform: var(--transition-8s);
  position: absolute;
  bottom: 20%;
  transform: translate(-50%, -50%);
  left: 50%;
}
.button-container .button {
  border: 1px solid var(--color-red);
  color: var(--white);
  height: 3em;
  width: 15em;
  border-radius: var(--radius-24);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
  font-weight: 700;
  font-size: 1.3em;
  transition: var(--transition-5s);
  box-shadow: var(--shadow-1);
  position: relative;
}
.button-container .button:hover {
  background-color: var(--color-red);
  color: var(--white);
  transform: translateY(4px);
  transition: var(--transition-8s);
}

.enquiry-container {
  margin-block-start: 2em;
  position: fixed;
  right: 5%;
  bottom: 5%;
  height: 4em;
  width: 4em;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--color-3);
  border-radius: var(--radius-16);
  transition: var(--transition-8s);
}
.enquiry-container:hover {
  transform: translateY(5px);
}
.enquiry-container .enquiry-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
.enquiry-container .enquiry-icon i {
  font-size: 2em;
  color: var(--white);
  transition: var(--transition-5s);
}
.enquiry-container .enquiry-icon i:hover {
  transform: scale(1.1);
}

.message-container {
  position: absolute;
  top: 3%;
  right: 2%;
  z-index: 3;
  width: 30%;
  height: 92vh;
  border: 1px solid var(--color-red);
  border-radius: var(--radius-16);
  padding-block-start: 1em;
  justify-content: center;
  display: none;
  box-shadow: var(--shadow-1);
  background-color: var(--off-white-variant-2);
  transition: var(--transition-5s);
}
.message-container.active {
  display: flex;
  transition: var(--transition-5s);
  animation: smooth 0.5s ease-in;
}
@keyframes smooth {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(0%);
  }
}
.message-container .main-enquiry {
  width: 100%;
}
.message-container .main-enquiry .enquiry-section-1 {
  height: 30%;
  background-color: linear-gradient(var(--color-red));
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.message-container .main-enquiry .enquiry-section-1 p {
  line-height: 3em;
  text-align: center;
  color: var(--white);
  font-weight: 600;
}
.message-container .main-enquiry .enquiry-section-1 .error-message {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;
  text-transform: uppercase;
  font-family: var(--playfair-ff);
  font-weight: 600;
  color: var(--color-3);
  background-color: var(--white);
  width: 70%;
  height: 1.5em;
  box-shadow: var(--shadow-1);
  border-radius: var(--radius-8);
  transition: var(--transition-8s);
  padding: 12px;
  font-size: 1em;
}
.message-container .main-enquiry .entry-section-2 {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: var(--white);
  height: 65%;
}
.message-container .main-enquiry .entry-section-2 .message-entry {
  position: absolute;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  bottom: 0;
}
.message-container .main-enquiry .entry-section-2 .message-entry input {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 3em;
  padding-inline: 1em;
  border: none;
  border-top: 1px solid var(--color-red);
  transition: var(--transition-8s);
  font-family: var(--playfair-ff);
}
.message-container .main-enquiry .entry-section-2 .message-entry input:focus {
  border-top: 1.5px solid var(--color-red);
  transition: var(--transition-5s);
}
.message-container .main-enquiry .entry-section-2 .message-entry .send-icon {
  position: absolute;
  right: 3%;
  height: 2em;
  width: 2em;
  border-radius: 50%;
  background-color: var(--white);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-5s);
}
.message-container .main-enquiry .entry-section-2 .message-entry .send-icon:hover {
  background-color: var(--off-white-variant-2);
  color: var(--white);
}
.message-container .main-enquiry .entry-section-2 .message-entry .send-icon i {
  font-size: 1.3em;
}

.close-icon {
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-4s);
  border-radius: 50%;
  background-color: var(--off-white-variant);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}
.close-icon i {
  font-size: 1.5em;
}
.close-icon:hover {
  transform: scale(1.15);
}

.close-icon-2 {
  position: absolute;
  right: 5%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: var(--transition-4s);
  border-radius: 50%;
  background-color: var(--off-white-variant);
  width: 2em;
  height: 2em;
  border-radius: 50%;
  cursor: pointer;
}
.close-icon-2 i {
  font-size: 1.5em;
}
.close-icon-2:hover {
  transform: scale(1.15);
}/*# sourceMappingURL=style.css.map */